* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  background-color: #fff; 
}

ul {
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1176px;
  margin: 0 auto;
  padding: 0 24px;
  }

.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 24px;
}

.gallery img {
  width: 360px;
  height: 200px;
  transition: transform 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.04);
}
.modal {
  width: 1440px;
  height: 100%;
  background: rgba(46, 47, 66, 0.8);
  display: flex;
  justify-content: center;
  align-content: center;

}
.modal img {
  width: 1112px;
  height: 640px;
}